body{
    background-image: url('cricket-bat-ball-26560801.jpg');
    background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
}
button{
    background: none;
    
    
  }  